@charset "UTF-8";
/* SCSS Document */

@import "../shared/styles/variables";
@import "../shared/styles/mixins";


/********** Slide Specific Styles *********/

#rheum_hcp_iva_U3_32 {
	.content {
      background: url('../images/14.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
   }
   .tabs{
      .study-design,.case-studies{
         pointer-events: none;
      }
   }

   .references-content {
      background: url('../images/14_Refs-Expanded.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 6px;
   }

   .reference-overlay {
      width: 388px;
   }

   .next-button {
      position: absolute;
      top: 550px;
      right: 32px;
   }
   .study1, .study2{
      width: 101px;
      height: 37px;
      position: absolute;
      top: 138px;
      right: 182px;
   }
   .study2{
      right: 80px;
   }

   .pred-popup-btn {
      width: 180px;
      height: 102px;
      position: absolute;
      top: 419px;
      left: 508px;
   }

   #pred {
      width: 699px;
      top: 45.7%;
      .close {
         right: 10px;
         top: 4px;
      }
   }

   .stl-popup-btn {
      position: absolute;
      width: 252px;
      height: 37px;
      top: 221px;
      right: 99px;
   }

   #stl {
      width: 558px;
      top: 48%;
      .close {
         right: 10px;
         top: 4px;
      }
   }
   .DMPMdummy{
      margin: 0px;
      position: relative;
      width: 124px;
      height: 36px;
      background-color: #e9e9e9;
      left: 0px;
      border-radius: 5px;
   }
   .subClick1{
      color: #6b478e;
      font-family: '#{$font-Archivo-Bold}';
   }
   .InactiveHeader_10{
      position: absolute;
      top: 54px;
      left: 0px;
      height: 57px;
      width: 215px;
      z-index: 8;
   }
   .menuDropdown_10{
      background: url(../images/3.0_Dropdown-Expanded.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 215px;
      display: none;
      position: absolute;
      left: 0px;
      // top: 108px;
      top: 54px;
      height: 300px;
      .activeHeader_10{
         width: 215px;
         height: 54px;
         top: 0px;
         position: relative;
         z-index: 9;
      }
      .clickArea1_10{
         width: 215px;
         height: 54px;
         top: 45px;
         position: relative;
         display: block;
      }
      .clickArea4_10{
         width: 215px;
         height: 38px;
         top: 128px;
         position: relative;
         display: block;
      }
   }
}

