/********** GLOBAL VARS *********/

$sw:1024px; //screen width
$sh:768px; //screen height
// $font-url: "../fonts";
// $image-url-path: "../images/";
// @function image-url($url) {
//     @return url("#{$image-url-path}#{$url}");
// }

//FONTS
$font-Archivo-Regular: "Archivo-Regular";
$font-Archivo-Bold: "Archivo-Bold";
$font-Archivo-Medium: "Archivo-Medium";
$font-Archivo-SemiBold: "Archivo-SemiBold";
$font-Archivo-BoldItalic: "Archivo-BoldItalic";
$font-Archivo-Italic: "Archivo-Italic";
$font-Archivo-MediumItalic: "Archivo-MediumItalic";
$font-Archivo-SemiBoldItalic: "Archivo-SemiBoldItalic";

// COLORS
$white: #fff;
$black: #000000;
$gray: #ededed;
$orange: #fe5000;
$font-color: #4a4a4a;
$light-blue: #00a1e1;
$butterfly-bush: #6A55A5;
$bay-of-many: #283193;
$blue-bell: #9590CE;
