<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>veeva-slide</title>

	<!-- build:css ../shared/styles/main.css -->
	<!-- inject:css -->
	<!-- endinject -->
   <link rel="stylesheet" href="../shared/styles/main.css">
   <!-- endbuild -->
   <!-- build:css assets/styles/slide.css -->
   <link rel="stylesheet" href="assets/styles/slide.css" />
   <!-- endbuild -->
</head>

<body>
<main id="rheum_hcp_iva_U3_1" class="slide">
   {{> header }}
   <div class="content">
      <a class="next-button white show-invisible" data-target="2_rheum_hcp_iva_U3"></a>
      <a class="mallin popup-open show-invisible" data-target="mallin"></a>
      <div class="indications">
         <a class="dm-pm show-invisible" data-target="9_rheum_hcp_iva_U3"></a>
         <a class="sle show-invisible" data-target="34_rheum_hcp_iva_U3"></a>
         <a class="symp-sarcoidosis show-invisible" data-target="48_rheum_hcp_iva_U3"></a>
         <a class="ra show-invisible" data-target="60_rheum_hcp_iva_U3"></a>
      </div>
   </div>
   {{> references }}
   {{> isi }}
      <div class="popups-container">
		<div class="popup-overlay"></div>
      {{>popup popupId="mallin" imgUrl="assets/images/0.0_1Modal_Window.png"}}
      <div class="malliRefLink"></div>
   </div>
   <div id="malliRef">
      <div class="ref-container">
         <div class="ref-overlay show-invisible"></div>
         <div class="ref-content">
         </div>
      </div>
   </div>
</main>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/libs.js"></script>
<script src="../shared/scripts/libs/veeva-library.js"></script>
<script src="../shared/scripts/libs/veeva-utils.js"></script>
<script src="../shared/scripts/menuHandling.js"></script>
<script src="../shared/scripts/main.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="assets/scripts/slide.js"></script>
<!-- endbuild -->

</body>
</html>
