@charset "UTF-8";
/* SCSS Document */

@import "../shared/styles/variables";
@import "../shared/styles/mixins";


/********** Slide Specific Styles *********/

#rheum_hcp_iva_U3_14 {
	.content {
      background: url('../images/14.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
   }
   .DMPMdummy{
      margin: 0px;
      position: relative;
      width: 124px;
      height: 36px;
      background-color: #e9e9e9;
      left: 0px;
      border-radius: 5px;
   }
   .subClick1{
      color: #6b478e;
      font-family: '#{$font-Archivo-Bold}';
   }
   .references-content {
      background: url('../images/14_Refs-Expanded.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 6px;
   }

   .reference-overlay {
      width: 388px;
   }

   .next-button {
      position: absolute;
      top: 549px;
      right: 34px;
   }

   .safety-data {
      width: 120px;
      height: 30px;
      position: absolute;
      top: 471px;
      left: 40px;
   }

   #safety-data {
      width: 996px;
      height: 525px;
      top: 45%;
      left: 48.5%;

      .close {
         top: 7px;
         right: 11px;
      }
   }
   .InactiveHeader_10{
      position: absolute;
      top: 54px;
      left: 0px;
      height: 57px;
      width: 215px;
      z-index: 8;
   }
   .menuDropdown_10{
      background: url(../images/3.0_Dropdown-Expanded.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 215px;
      display: none;
      position: absolute;
      left: 0px;
      // top: 108px;
      top: 54px;
      height: 300px;
      .activeHeader_10{
         width: 215px;
         height: 54px;
         top: 0px;
         position: relative;
         z-index: 9;
      }
      .clickArea1_10{
         width: 215px;
         height: 54px;
         top: 45px;
         position: relative;
         display: block;
      }
      .clickArea4_10{
         width: 215px;
         height: 38px;
         top: 128px;
         position: relative;
         display: block;
      }
   }
}

