<div id={{popupId}} class="popup">
      <div class="play-overlay show-invisible"></div>
      <div class="main_content_popup">
            <video width="100%" poster="../../shared/images/videoPoster.png" controls>
                  <source src="{{videoUrl}}.mp4" type="video/mp4">
                  <source src="{{videoUrl}}.webm">
            </video>
      </div>
</div>
