<div id={{popupId}} class="popup">
      <span class="popup-btn close show-invisible"></span>
      <div class="main_content_popup">
            <img width="100%" src={{imgUrl}} />
      </div>
</div>
