<div class="references">
   <div class="references-container">
      <div class="reference-overlay show-invisible"></div>
      <div class="references-content">
         {{#if content}}
            {{{content}}}
         {{/if}}
      </div>
   </div>
</div>
<div class="reference-btn show-invisible"></div>
