<div class="tabs">
   <a class="tab study-design show-invisible" data-target={{tab1}}></a>
   <a class="tab results show-invisible" data-target={{tab2}}></a>
   <a class="tab case-studies show-invisible" data-target={{tab3}}></a>
</div>
