<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<title>veeva-slide</title>

	<!-- build:css ../shared/styles/main.css -->
	<!-- inject:css -->
	<!-- endinject -->
   <link rel="stylesheet" href="../shared/styles/main.css">
   <!-- endbuild -->
   <!-- build:css assets/styles/slide.css -->
   <link rel="stylesheet" href="assets/styles/slide.css" />
   <!-- endbuild -->
</head>

<body>

<main id="rheum_hcp_iva_U3_47" class="slide">
   {{> header
      tab1="46_rheum_hcp_iva_U3"
      tab2="47_rheum_hcp_iva_U3"
      tab3="47_rheum_hcp_iva_U3"
   }}
   <div class="sub-menu"></div>
   <div class="content">
      <div class="content-container">
         <div id="content1">
            <img src="assets/images/content1.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content2">
            <img src="assets/images/content2.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content3">
            <img src="assets/images/content3.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content4">
            <img src="assets/images/content4.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content5">
            <img src="assets/images/content5.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content6">
            <img src="assets/images/content6.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content7">
            <img src="assets/images/content7.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content8">
            <img src="assets/images/content8.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content9">
            <img src="assets/images/content9.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content10">
            <img src="assets/images/content10.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content11">
            <img src="assets/images/content11.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content12">
            <img src="assets/images/content12.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content13">
            <img src="assets/images/content13.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content14">
            <img src="assets/images/content14.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content15">
            <img src="assets/images/content15.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content16">
            <img src="assets/images/content16.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content17">
            <img src="assets/images/content17.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content18">
            <img src="assets/images/content18.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content19">
            <img src="assets/images/content19.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content20">
            <img src="assets/images/content20.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content21">
            <img src="assets/images/content21.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content22">
            <img src="assets/images/content22.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content23">
            <img src="assets/images/content23.png" width="872" height="335" class="commonPos1">
         </div>
         <div id="content24">
            <img src="assets/images/content24.png" width="872" height="335" class="commonPos1">
         </div>
      </div>
      <div id="human">
      <img src="assets/images/resetImgFull1.png" width="872" height="335" style="position: absolute; left:37px;">
      </div>
      
      <div class="human-content-container">
         <div id="humanC1">
            <img src="assets/images/humanC1.png" width="20" height="20" class="">
         </div>
         <div id="humanC2">
            <img src="assets/images/humanC2.png" width="20" height="20" class="">
         </div>
         <div id="humanC3">
            <img src="assets/images/humanC3.png" width="20" height="20" class="">
         </div>
         <div id="humanC4">
            <img src="assets/images/humanC4.png" width="26" height="10" class="">
         </div>
         <div id="humanC5">
            <img src="assets/images/humanC5.png" width="20" height="20" class="">
         </div>
         <div id="humanC6">
            <img src="assets/images/humanC6.png" width="20" height="20" class="">
         </div>
         <div id="humanC7">
            <img src="assets/images/humanC7.png" width="20" height="20" class="">
         </div>
         <div id="humanC8">
            <img src="assets/images/humanC8.png" width="150" height="329" class="">
         </div>   
         <div id="humanC9">
            <img src="assets/images/humanC9.png" width="110" height="56" class="">
         </div>   
         <div id="humanC10">
            <img src="assets/images/humanC10.png" width="91" height="166" class="">
         </div>
         <div id="humanC11">
            <img src="assets/images/humanC11.png" width="150" height="329" class="">
         </div> 
         <div id="humanC12">
            <img src="assets/images/humanC12.png" width="150" height="329" class="">
         </div>
         <div id="humanC13">
            <img src="assets/images/humanC13.png" width="47" height="23" class="">
         </div>
         <div id="humanC14">
            <img src="assets/images/humanC14.png" width="150" height="329" class="">
         </div>   
         <div id="humanC15">
            <img src="assets/images/humanC15.png" width="150" height="329" class="">
         </div> 
         <div id="humanC16">
            <img src="assets/images/humanC16.png" width="150" height="329" class="">
         </div>
         <div id="humanC17">
            <img src="assets/images/humanC17.png" width="20" height="20" class="">
         </div>
         <div id="humanC18">
            <img src="assets/images/humanC18.png" width="52" height="52" class="">
         </div>
         <div id="humanC19">
            <img src="assets/images/humanC19.png" width="25" height="25" class="">
         </div>            
         <div id="humanC20">
            <img src="assets/images/humanC20.png" width="150" height="329" class="">
         </div>
         <div id="humanC21">
            <img src="assets/images/humanC21.png" width="150" height="329" class="">
         </div>
         <div id="humanC22">
            <img src="assets/images/humanC22.png" width="20" height="20" class="">
         </div>
         <div id="humanC23">
            <img src="assets/images/humanC23.png" width="150" height="329" class="">
         </div>
         <div id="humanC24">
            <img src="assets/images/humanC24.png" width="150" height="329" class="">
         </div>                  
      </div>

      <div id="content100">
         <img src="assets/images/resetImgFull.png" width="873" height="336" class="commonPos1">
      </div>
      <div class="clickableContent">
         <ul>
            <li class="Clink borderAll btn1" data-rel="content1" value="8" style="border-top-left-radius: 10px;">SEIZURE</li>
            <li class="Clink Inclick2 btn2" data-rel="content2" value="8">PSYCHOSIS</li>
            <li class="pNine Clink btn3" data-rel="content3" value="8">ORGANIC BRAIN<br>SYNDROME</li>
            <li class="pNine Clink btn4" data-rel="content4" value="8" style="border-top-right-radius: 10px;">VISUAL<br>DISTURBANCE</li>
            <li class="pNine Clink borderAll btn5" data-rel="content5" value="8">CRANIAL NERVE<br>DISORDER</li>
            <li class="Clink btn6" data-rel="content6" value="8">LUPUS HEADACHE</li>
            <li class="pNine Clink btn7" data-rel="content7" value="8">CEREBROVASCULAR<br>ACCIDENT</li>
            <li class="Clink btn8" data-rel="content8" value="8">VASCULITIS</li>
            <li class="Clink borderAll btn9" data-rel="content9" value="4">ARTHRITIS</li>
            <li class="Clink btn10" data-rel="content10" value="4">MYOSITIS</li>
            <li class="Clink btn11" data-rel="content11" value="4">URINARY CASTS</li>
            <li class="Clink btn12" data-rel="content12" value="4">HEMATURIA</li>
            <li class="Clink borderAll btn13" data-rel="content13" value="4">PROTEINURIA</li>
            <li class="Clink btn14" data-rel="content14" value="4">PYURIA</li>
            <li class="Clink btn15" data-rel="content15" value="2">RASH</li>
            <li class="Clink btn16" data-rel="content16" value="2">ALOPECIA</li>
            <li class="Clink borderAll btn17" data-rel="content17" value="2">MUCOSAL ULCERS</li>
            <li class="Clink btn18" data-rel="content18" value="2">PLEURISY</li>
            <li class="Clink btn19" data-rel="content19" value="2">PERICARDITIS</li>
            <li class="Clink btn20" data-rel="content20" value="2">LOW COMPLEMENT</li>
            <li class="pNine Clink borderAll btn21" data-rel="content21" value="2" style="border-bottom-left-radius: 10px;">INCREASED DNA<br>BINDING</li>
            <li class="Clink btn22" data-rel="content22" value="1">FEVER</li>
            <li class="Clink btn23" data-rel="content23" value="1">THROMBOCYTOPENIA</li>
            <li class="Clink btn24" data-rel="content24" value="1" style="border-bottom-right-radius: 10px;">LEUKOPENIA</li>
         </ul>
      </div>
      <a class="resetBtn" href="#" data-rel="content100"></a>
      <div id="total"><span></span></div>
      <a class="next-button orange show-invisible" data-target="48_rheum_hcp_iva_U3"></a>
      <div class="InactiveHeader_35"></div>
      <div class="menuDropdown_35">
         <div class="activeHeader_35"></div>
         <a class="clickArea1_35" data-target="38_rheum_hcp_iva_U3"></a>
         <a class="clickArea3_35" data-target="47_rheum_hcp_iva_U3"></a>
      </div>

   </div>
   {{> references }}
   {{> isi }}
</main>

<!-- build:js ../shared/scripts/main.js -->
<!-- inject:js -->
<!-- endinject -->
<script src="../shared/scripts/jquery.js"></script>
<script src="../shared/scripts/libs.js"></script>
<script src="../shared/scripts/libs/veeva-library.js"></script>
<script src="../shared/scripts/libs/veeva-utils.js"></script>
<script src="../shared/scripts/menuHandling.js"></script>
<script src="../shared/scripts/jquery.tap.js"></script>
<script src="../shared/scripts/main.js"></script>
<!-- endbuild -->

<!-- build:js assets/scripts/slide.js -->
<script src="assets/scripts/slide.js"></script>
<!-- endbuild -->

</body>
</html>
